@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.sidebar {
  width: 30%;
  padding: 20px;
  @include flexCenter();
  flex-direction: column;
  @media screen and (max-width: 770px) {
    width: 100%;
  }

  .doubleRange {
    @include flexCenter();
    justify-content: start;
    flex-direction: column;
  }
}
