.tableContainer {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  border-collapse: collapse;
  box-sizing: border-box;
  padding: 30px;

  @media screen and (max-width: 980px) {
    max-width: 90%;
  }

  .tableHeader th {
    background-color: #ececf9;
    height: 48px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: black;
    text-align: center;

    &:first-child {
      text-align: center;
    }
  }

  .tableBody {
    background-color: #ffffff;

    .row {
      height: 48px;
      box-sizing: border-box;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 16px;
      color: #000000;
      text-align: center;

      &:nth-child(2n) {
        background-color: #f8f7fd;
      }

      td:first-child {
        text-align: center;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
.learnButton {
  background-color: #D9D9F1;
  border: none;
  margin-left: 0;
}