.avatarBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information {
  height: auto;
}

.imagesPI {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
}

.inputStyleAdd {
  display: none;
}

.buttonAdd {
  background-color: #D9D9F1;
  border: none;
  margin-top: 10px;
}

.inputStyleNickName {
  width: 300px;
  margin: 20px auto;
}
.changeLanguage {
  position: absolute;
  top: 20px;
  right: 60px;
}


